.filtersRow {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.fontAbel {
  font-family: 'Abel', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.option {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.inputRounded {
  border-radius: 9999px;
}

@media (max-width: 640px) {
  .filtersRow {
    flex-direction: column;
    gap: 1rem;
  }
}