services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_prod
    volumes:
      - postgres_prod_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - app_network
    restart: unless-stopped

  backend:
    image: ghcr.io/litovicmateo/zadar-museum-backend:latest
    container_name: strapi_prod
    volumes:
      - strapi_uploads:/app/public/uploads
    environment:
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      APP_KEYS: ${APP_KEYS}
      API_TOKEN_SALT: ${API_TOKEN_SALT}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      TRANSFER_TOKEN_SALT: ${TRANSFER_TOKEN_SALT}
      JWT_SECRET: ${JWT_SECRET}
      # Allow configuring CORS origins from the .env file on the host (comma-separated)
      CORS_ORIGINS: ${CORS_ORIGINS}
      NODE_ENV: production
      PUBLIC_URL: ${PUBLIC_URL}
      PROXY: ${PROXY}
    command: npm run start
    depends_on:
      - postgres
    networks:
      - app_network
    restart: unless-stopped

  frontend:
    image: ghcr.io/litovicmateo/zadar-museum-frontend:latest
    container_name: react_prod
    depends_on:
      - backend
    networks:
      - app_network
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx_prod
    volumes:
      - ./nginx/nginx.vps.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
      - backend
    networks:
      - app_network
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

volumes:
  postgres_prod_data:
  strapi_uploads:

networks:
  app_network:
    driver: bridge
