.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

@media (min-width: 640px) {
  .root {
    flex-direction: row-reverse;
  }
}

.leftRow {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.selectSmall {
  font-size: 0.875rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  width: 100%;
}

.rightRow {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

.competitionsRow {
  display: flex;
  gap: 1rem;
}
