.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: 'Abel', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.colGap2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
