.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Abel', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.headingRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.colGap2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
