.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filtersRow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .filtersRow {
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }
}

.fontAbel {
  font-family: 'Abel', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
