.section {
	max-height: 250px;
	overflow: hidden;
	filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.15)) drop-shadow(0 8px 5px rgba(0, 0, 0, 0.1));
	background: linear-gradient(to bottom right, #1e40af, #1e3a8a);
}

.inner {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
	max-width: 800px;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: flex-start;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}

@media (min-width: 640px) {
	.inner {
		flex-direction: row;
		gap: 1.5rem;
		justify-content: flex-start;
		align-items: flex-end;
		padding: 0;
	}
}
