.section {
  max-height: 250px;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
}

.inner {
  height: 100%;
  width: 100%;
  position: relative;
  max-width: 800px;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
}
