.labelTitle {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.fieldset {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-family: 'Abel', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.option {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.optionHover {
  color: #1e40af;
}
