.wrapper {
  overflow-x: auto;
  width: fit-content;
  max-width: 100%;
  border-radius: 0.5rem;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1); /* shadow-lg */
  border: 1px solid #e5e7eb; /* gray-200 */
  background-color: #ffffff;
}

.table {
  font-family: 'Abel', sans-serif;
  font-size: 0.875rem; /* text-sm */
  width: 100%;
  border-collapse: collapse;
}
