.portal {
  background: #fff;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
  padding: 0.5rem;
  border: 1px solid #9ca3af;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.125rem;
}
