.wrapper {
  position: relative;
  width: fit-content;
  margin-top: 0.5rem;
  grid-column: span 2;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
  border-radius: 0.125rem;
  border: 1px solid #e5e7eb;
}
.img { aspect-ratio: 1/1; object-fit: cover; border-radius: 0.25rem; }
.remove {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 9999px;
  color: #dc2626;
  border: 1px solid #dc2626;
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
